/* **************** */
/* main page styles */
/*   MOBILE FIRST   */
/* **************** */

body {
  margin-top: 0;
}

.wrapper {
  margin-top: 0;

  background-color: #f5f5f5;
}

header {
  display: none;
}

.wrapper header h1 {
  font-size: 1.5rem;
  padding-top: 0.5em;
  margin-top: 0;
  text-align: center;
  margin-bottom: 0.2em;
}

header p {
  font-size: 1rem;
  margin-top: 0;
  text-align: center;
}

.container {
  padding: 1em;
  margin: 0 auto;
  max-width: 1400px;
  background-color: white;
}

.user-input-bar,
.create-invoice-btn {
  display: none;
}

/* business details styling  */

.main-details-input {
  display: none;
}

/* ************* */
/* popup styling */
/* ************* */

.popup-container {
  margin-top: 1em;
  border: 1px solid red;
  border-radius: 1em;
  padding: 1em;
}

.inner-popup-container h2 {
  text-align: center;
  font-size: 1.7rem;
}

.inner-popup-container h4 {
  text-align: center;
}

.popup-btn-box {
  display: flex;
  justify-content: center;
}

.popupBtn {
  padding: 0.5em 2em;
}

/* END of popup styling */
.user-outputs {
  margin-bottom: 1em;
}

/* ********************* */
/* Input your details styling */
/* ********************* */

.details-input-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.user-business-details-input {
  padding: 0.5em;
  background-color: lightgreen;
}

.recipient-business-details-input {
  margin-top: 2em;
  padding: 0.5em;
  background-color: lightblue;
}

.user-business-details-input,
.recipient-business-details-input {
  display: flex;
  flex-direction: column;
}

.user-business-details-input h2,
.recipient-business-details-input h2 {
  margin-bottom: 0;
  text-align: center;
}

.user-business-details-input p,
.recipient-business-details-input p {
  text-align: center;
}

label {
  margin-top: 1em;
}

input[type="text"],
[type="number"],
[type="email"],
[type="date"],
[type="url"],
[type="telephone"] {
  padding: 1em;
  border: none;
  background-color: whitesmoke;
}

.legal-fiscal-input {
  display: flex;
  flex-direction: column;
}

.submitDetailsBtn {
  padding: 1em;
  margin-top: 2em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
/* END of details input styling */

/* ******************* */
/* user details output styling */
/* ******************* */

.user-outputs {
  margin-top: 1em;
}

.user-outputs h4 {
  text-decoration: underline;
}

.date-details {
  display: flex;
  justify-content: space-between;
}

.contact-details {
  display: flex;
  justify-content: space-between;
}

.red-text {
  color: red;
}

.user-details-col {
  display: flex;
  gap: 2em;
}

.recipient-details-col {
  display: flex;
  gap: 2em;
}

/* END of user output styling  */

/* ************************ */
/* user invoice detail input bar */
/* ************************ */

.user-input-bar {
  display: none;
}

.user-inner-input-bar {
  display: flex;
}

.enter-task {
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.enter-currency {
  width: 10%;
  border: none;
  background-color: #f5f5f5;
}

.enter-cost {
  width: 20%;
  border: none;
}

.enter-quantity {
  width: 10%;
  border: none;
}

.submit-item-btn {
  width: 10%;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #3770ed;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.create-invoice-btn {
  margin-top: 2em;
  padding: 0.8em;
  border: none;
  border-radius: 10px;
  width: 100%;
  background-color: #3770ed;
  color: white;
  cursor: pointer;
}
